<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>
            Welcome to the HotPotato Flask Server
        </title>
        <link href='/css/site.css' rel='stylesheet' type='text/css' />
    </head>
    <body>
        <section class='container'>
            <hgroup>
                <h1>
                    Welcome to the HotPotato Flask Server
                </h1>
                {% if verifyKey is not none and username is not none %}
                <h1>
                    Hello {{username}}
                </h1>
                <h1>
                    Thanks for registering!
                </h1>
                {% else %}
                <h1>
                    Verification failed for some reason, contact an administrator
                </h1>
                {% endif %}
            </div>
            <footer>
                <div class="logo">
                    <a href="https://www.openshift.com/">
                    </a>
                </div>
            </footer>
        </section>
    </body>
</html>
